@font-face {
    font-family: "Gilroy";
    src: local("Gilroy Light"), local("Gilroy-Light"), url("../fonts/Gilroylight.woff2") format("woff2"), url("../font/Gilroylight.woff") format("woff"), url("../fonts/Gilroylight.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"), url("../fonts/Gilroyextrabold.woff2") format("woff2"), url("../fonts/Gilroyextrabold.woff") format("woff"), url("../fonts/Gilroyextrabold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    font-style: normal;
    line-height: 30px;
    font-weight: 300;
    color: #000000;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
}

.main-header___logo {
    position: absolute;
    top: 20px;
    left: 60px;
    padding: 0;
    opacity: 1;
}

.main-header___logo:hover {
    opacity: 0.6;
}

.main-header___logo:hover {
    opacity: 0.3;
}

.main-header___navigation {
    padding-top: 75px;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    font-style: normal;
    color: #000000;
}

.main-header___search-input {
    font: inherit;
    color: black;
    opacity: 0.3;
    letter-spacing: 0.2px;
    background: none;
    border: none;
    padding-left: 40px;
    width: 440px;
}

.main-header___search-input:hover {
    opacity: 0.6;
}

.main-header___search-input:focus {
    opacity: 1;
    box-shadow: inset 0px -2px 0px 0px #000000;
}

.main-header___search-button:active,
.main-header___search-input:focus~.main-header___search-button {
    display: block;
}

.main-header___user-navigation-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    width: 500px;
    justify-content: space-between;
}

.main-header___link-login,
.main-header___link-compare,
.main-header___link-basket {
    color: #000000;
    opacity: 1;
    position: relative;
    padding-left: 25px;
}

.main-header___link-compare:before {
    content: "";
    background-image: url(../img/compare.svg);
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    position: absolute;
    left: 2px;
    top: 5px;
}

.main-header___link-basket:before {
    content: "";
    background-image: url(../img/cart.svg);
    width: 12px;
    height: 12px;
    position: absolute;
    left: 0;
    top: 4px;
    background-repeat: no-repeat;
}

.main-header___link-login:hover,
.main-header___link-compare:hover,
.main-header___link-basket:hover,
.main-header___link-login:focus,
.main-header___link-compare:focus,
.main-header___link-basket:focus {
    opacity: 0.6;
}

.main-header___link-login:active,
.main-header___link-compare:active,
.main-header___link-basket:active {
    opacity: 0.3;
}

.logout-link a {
    color: rgba(0, 0, 0, 0.3);
}

.main-header___site-navigation-list {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;
}

.main-header___site-navigation-link {
    text-transform: uppercase;
    list-style: none;
    font-family: "Gilroy";
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 3.6px;
    color: #000000;
}

.main-header___site-navigation-link:hover,
.main-header___site-navigation-link:focus {
    color: rgba(0, 0, 0, 0.6);
}

.main-header___site-navigation-link:active {
    color: rgba(0, 0, 0, 0.3);
}

.main-header___catalog-item {
    width: 260px;
    margin-right: auto;
    margin-left: 0;
    position: relative;
    display: flex;
}

.delivery-link {
    width: 130px;
}

.main-header___warranty-item {
    margin-right: 105px;
}

.main-header___contacts-item {
    margin: 0;
    padding: 0;
}

.main-header___user-navigation-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    margin: 0 60px;
    align-items: center;
}

.main-header___site-navigation-container {
    display: flex;
    justify-content: space-between;

    /* flex-wrap: wrap; */
    margin: 0 60px;
    margin-top: 25px;
}

.main-header___user-navigation-list {
}

.main-header___cart-item {
}

.main-header___login-item {
    margin-right: auto;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

.container {
    margin: 0 auto;
    width: 1160px;
}

.header-container {
    margin: 0 auto;
    padding: 0;
}

.main-header___catalog-menu-list-hidden {
    list-style: none;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    line-height: 36px;
    letter-spacing: 0.15px;
    color: #000000;
    width: 700px;
    padding: 0;
    margin: 4px 0 0 2px;
    display: flex;
    flex-wrap: wrap;
    z-index: 999;
}

.main-header___catalog-menu-list-hidden a {
    display: block;
}

.main-header___catalog-menu-item {
    width: 200px;
}

.main-header___catalog-menu-item:nth-child(3n+1) {
    width: 240px;
}

.main-header___catalog-menu-item:last-child {
    width: 100%;
}

.main-header___catalog-menu-link {
    color: #000000;
    opacity: 1;
}

.main-header___catalog-menu-link:hover,
.main-header___catalog-menu-link:focus {
    opacity: 0.6;
}

.main-header___catalog-menu-link:active {
    opacity: 0.3;
}

.hidden {
    display: none;
    position: absolute;
    top: 30px;
    padding-top: 15px;
    left: -60px;
    padding-left: 60px;
    background: #F7E397;
    width: 1100px;
    z-index: 999;
    min-height: 145px;

    /* хак на хаке, внезапно элемент ul лежащий внутри li больше своего своего родительского ul
    к тому же магическая цифра 1100 (вместо того, чтобы растянуться на всю ширину 100%, а ограничит ширину 1100 - layout-wrapper)
    */
}

.main-header___catalog-item:hover .hidden {
    display: block;
}

.main-content {
    display: flex;
    justify-content: space-between;
}

.main-content___contacts {
    width: 560px;
    margin-left: 118px;
}

.main-content___about-us {
    width: 488px;
}

.main-content___header {
    font-family: "Gilroy";
    font-size: 47.5px;
    font-weight: 800;
    font-style: normal;
    line-height: 47.5px;
    letter-spacing: 0.5px;
    color: #000000;
    margin-bottom: 45px;
    position: relative;
    padding-top: 30px;
    margin-top: 0px;
}

.main-content___header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 10px;
    background-color: black;
}

.main-content___text {
    color: #464646;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-right: 5px;
}

.main-content___company-list {
    list-style: none;
    margin-bottom: 58px;
    margin-top: 65px;
}

.main-content___contact-map {
    margin-bottom: 70px;
    padding-top: 5px;
}

.button {
    font-family: "Gilroy";
    font-size: 18.5px;
    font-weight: 800;
    font-style: normal;
    line-height: 23.5px;
    letter-spacing: 3.7px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    background: none;
    border: 0;
    padding: 10px 40px 10px 40px;
    position: relative;
    text-align: center;
    z-index: 1;
}

.button::before {
    content: "";
    position: absolute;
    top: 50%;
    background-color: #f0c52e;
    height: 8px;
    width: 100%;
    left: 0;
    z-index: -1;
    transform: translateY(-50%);
    transition-duration: .5s;

    /*    transition-property: height, top;*/
}

.button:focus::before,
.button:hover::before {
    height: 100%;
    background-color: #f0c52e;
    transition-duration: .5s;

    /*    transition-property: height, top;*/
}

.button:active {
    color: rgba(0, 0, 0, 0.3);
}

.main-footer {
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 30px;
    letter-spacing: normal;
    color: #FFFFFF;
    margin-top: 93px;
    width: 100%;
    background-color: #464646;
}

.main-footer___logo {
    font-size: 48px;
    font-family: "Gilroy";
    font-weight: 800;
    text-transform: uppercase;
    color: #FFC600;
    letter-spacing: 0.018em;
    margin-top: 63px;
    display: block;
}

.main-footer___logo-user-nav-container {
    display: flex;
    margin-bottom: 20px;
}

.main-footer___user-navigation-list {
    list-style: none;
    letter-spacing: 0.15px;
    display: flex;
    width: 325px;
    margin-left: auto;
    justify-content: space-between;
    margin-top: 63px;
    margin-bottom: 0;
}

.main-footer___user-navigation-list a:hover,
.main-footer___user-navigation-list a:focus {
    color: #FFFFFF;
}

.main-footer___user-navigation-list a:active {
    color: rgba(255, 255, 255, 0.3);
}

.footer-logout-link a {
    color: rgba(255, 255, 255, 0.3);
}

.main-footer___adress-phone-site-nav-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.main-footer___telephone {
    order: 3;
    padding: 0;
    margin: 0;
    margin-left: auto;
}

.main-footer___address {
    padding: 0;
    margin: 0;
}

.main-footer___site-navigation-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    margin-left: 165px;
}

.main-footer___delivery-item {
    margin-right: 38px;
}

.main-footer___warranty-item {
    margin-right: 38px;
}

.main-footer___site-navigation-link {
    color: #FFFFFF;
    font-family: "Gilroy";
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
}

.main-footer___site-navigation-link:hover,
.main-footer___site-navigation-link:focus {
    color: rgba(255, 255, 255, 0.6);
}

.main-footer___site-navigation-link:active {
    color: rgba(255, 255, 255, 0.3);
}

.main-footer___social-logo-container {
    display: flex;
    justify-content: center;
    padding-bottom: 65px;
    position: relative;
}

.main-footer___social-logo-container::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 8px;
    width: 70px;
    background-color: yellow;
    display: block;
}

.main-footer___social-button-list {
    list-style: none;
    display: flex;
    padding: 0;
    position: absolute;
    margin: 0 auto;
}

.main-footer___social-button-link {
    color: #FFFFFF;
}

.catalog-page-title {
    font-family: "Gilroy";
    font-size: 47.5px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 47.5px;
    letter-spacing: 0.48px;
    color: #000000;
}

.catalog-breadcrumbs {
    list-style: none;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.14px;
}

.catalog-breadcrumbs a {
    color: rgba(0, 0, 0, 0.3);
}

.catalog-breadcrumbs a:hover,
.catalog-breadcrumbs a:focus {
    color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
    color: rgba(0, 0, 0, 0.1);
}

.catalog-filter h2 {
    font-family: "Gilroy";
    font-size: 17.5px;
    font-weight: 800;
    font-style: normal;
    line-height: 24.5px;
    letter-spacing: 3.5px;
    color: #000000;
    text-transform: uppercase;
}

.catalog-filter___fieldset {
    border: none;
}

.catalog-filter {
    width: calc(50% - 252px);
    background-color: #EFEFEF;
    display: flex;
    flex-direction: column;
}

.catalog-filter___legend {
    font-family: "Gilroy";
    font-weight: 800;
    font-size: 18px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.18px;
    color: #000000;
}

.catalog-filter___list {
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 14px;
    font-style: normal;
    list-style: none;
    line-height: 40px;
    letter-spacing: 0.14px;
    color: #000000;
    padding: 0;
    margin: 0;
}

.catalog-filter label:disabled {
    color: #A6A6A6;
}

.catalog-list {
    list-style: none;
}

.catalog-item-price span {
    font-family: "Gilroy";
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.16px;
    color: #464646;
}

.modal-letter {
    display: none;
    padding-top: 95px;
    padding-right: 100px;
    padding-bottom: 80px;
    padding-left: 100px;
    background-color: #FFFFFF;
}

.modal-letter___label {
    font-family: "Gilroy";
    font-size: 17.5px;
    font-weight: 800;
    font-style: normal;
    line-height: 24.5px;
    letter-spacing: normal;
    color: #000000;
    display: block;
    margin-bottom: 8px;
}

.modal-letter___fieldset {
    border: 0 none;
    padding: 0;
    margin: 0;
    margin-bottom: 35px;
}

.modal-letter___input,
.modal-letter___textarea {
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 17.5px;
    color: rgba(70, 70, 70, 0.4);
    opacity: 0.4;
    background-color: #F2F2F2;
    background-color: #F2F2F2;
    border: none;
    padding: 18px 20px;
    width: 100%;
}

.modal-letter___input:hover,
.modal-lettertextarea:hover {
    color: rgba(70, 70, 70, 0.4);
    opacity: 1;
    background-color: #EBEBEB;
}

.modal-letter___input:focus,
.modal-letter___textarea:focus {
    color: #464646;
    opacity: 1;
    outline-color: #F0C52E;
    outline-offset: -3px;
    outline-style: solid;
    outline-width: 3px;
    background-color: #FFFFFF;
}

.modal-letter___input:invalid,
.modal-letter___textarea:invalid {
    background-color: #F6DADA;
    opacity: 0.5;
    color: rgba(70, 70, 70, 0.4);
}

.main-header {
    background: linear-gradient(white 40px, #F7E397 0px);
    position: relative;
    min-height: 340px;
}

.header-container-my {
    width: 1160px;
    margin: 0 auto;
}

.layout-wrapper {
    margin: 0 auto;
    width: 1160px;
}

.slider {
    position: relative;
    margin-top: -120px;

    /* логика такая - залезает на header 
       значит делаем margin-top отрицательный!
    */
    min-height: 500px;
    margin-bottom: 100px;
}

.delete {
    /* Удалить блок. Отступ в 600px, место, где будет располагаться контент
    Нужен для удобного оформления с наложенной поверх картинкой */
    height: 300px;
}

.main-footer___logo-htmlacademy {
    margin-left: auto;
}

.modal {
    box-sizing: border-box;
    width: 960px;
    margin: 0 auto;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 9999;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    /* один из способов центрировать
    left: 50%;
    margin-left: -480px;
*/
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.modal-letter___name-mail-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.modal-letter___name-container {
    flex-basis: 300px;
    max-width: 300px;
}

.modal-letter___mail-container {
    flex-basis: 300px;
    max-width: 300px;
}

.modal___close {
    position: absolute;
    top: 22px;
    right: 22px;
    z-index: 1000;
    width: 55px;
    height: 55px;
    border: 0;

    /*    border-radius: 50%;*/
    cursor: pointer;
    background-image: url(../img/modal___close.svg);
    opacity: 0.5;
    background-color: transparent;
}

.modal___close:hover,
.modal___close:focus {
    opacity: 1;
}

.modal___close:active {
    opacity: 0.3;
}

.main-header___user-navigation-logout {
    color: rgba(0, 0, 0, 0.3);
}

.catalog-header___page-title {
    margin: 0 0 24px;
    padding: 0;
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 47px;
    font-weight: 800;
    color: #000000;
}

.catalog-header___breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.catalog-header___breadcrumbs-item {
    position: relative;
    padding-right: 40px;
}

.catalog-header___breadcrumbs-item::after {
    content: "";
    position: absolute;
    top: 12px;
    right: 10px;
    width: 4px;
    height: 7px;
    background-image: url(../img/nav-arrow.svg);
}

.catalog-header___breadcrumbs-item--selected {
    opacity: 0.3;
}

.page-flex-container {
    display: flex;
    justify-content: flex-end;
    min-width: 1200px;
}

.catalog-content-filter-form {
    max-width: 200px;
    margin-left: auto;
    padding-right: 68px;
    padding-left: 80px;
    margin-top: 70px;
}

.catalog-item {
    display: flex;
    max-width: 360px;
    margin-right: 40px;
    margin-bottom: 45px;
    flex-wrap: wrap;
}

.catalog-item-price {
    margin: 0;
    margin-left: auto;
}

.catalog-item-header {
    margin: 0;
    padding: 0;
    width: 260px;
}

.catalog-header {
    margin: 55px 60px 0 60px;
}

.main-header___catalog {
    background: linear-gradient(white 40px, #F7E397 0px);
    position: relative;
    min-height: 225px;
}

.catalog {
    width: calc(50% + 252px);
}

.main-header___search-button {
    box-shadow: inset 0px 0px 0px 2px black;
    height: 50px;
    padding: 0 22px;
    color: black;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 0;
    display: none;
}

.main-header___search-button:hover {
    background-color: black;
    color: white;
}

.main-header___search-button:active {
    background-color: black;
    color: rgba(255 255 255, 0.3);
}

.main-header___search-form {
    width: 440px;
    height: 50px;
    position: relative;
    display: flex;
}

.main-header___search-form::after {
    content: "";
    background-image: url(../img/search.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: absolute;
    width: 32px;
    height: 32px;
    top: 10px;
    left: -5px;
}

.main-header___link-login:before {
    content: "";
    background-image: url(../img/user.svg);
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    position: absolute;
    left: 0;
    top: 4px;
}

.main-header___catalog-link {
    color: #000000;
    text-transform: none;
    text-transform: uppercase;
    font-family: "Gilroy";
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    letter-spacing: 3.6px;
    color: #000000;
    position: relative;
    padding-right: 30px;
}

.main-header___catalog-link::before {
    content: "";
    background-image: url(../img/plus.svg);
    position: absolute;
    right: 0px;
    top: 3px;
    width: 16px;
    height: 16px;
    opacity: 0.3;
}

.main-header___catalog-link:hover,
.main-header___catalog-link:focus {
    color: rgba(0, 0, 0, 0.6);
}

.main-header___catalog-link:active {
    color: rgba(0, 0, 0, 0.3);
}

.main-content___company-item {
    font-family: "Gilroy";
    font-size: 16px;
    font-weight: 800;
    line-height: 40px;
    color: #000000;
    position: relative;
    padding-left: 20px;
}

.main-content___company-item::after {
    position: absolute;
    content: "";
    top: 15px;
    left: 0;
    width: 4px;
    height: 4px;
    border: 2px solid #e6e6e6;
    border-radius: 50%;
    background-color: #ffffff;
}

.main-footer___social-button-fb {
    height: 32px;
    width: 32px;
    display: block;
    background-image: url(../img/fb.svg);
    margin-right: 22px;
}

.main-footer___social-button-inst {
    height: 32px;
    width: 32px;
    display: block;
    background-image: url(../img/instagram.svg);
    margin-right: 22px;
}

.main-footer___social-button-tw {
    height: 32px;
    width: 32px;
    display: block;
    background-image: url(../img/twitter.svg);
}

.main-footer___cart-link {
    padding-left: 20px;
    opacity: 0.7;
    color: white;
    position: relative;
}

.main-footer___cart-link::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    height: 12px;
    width: 12px;
    background-image: url(../img/cart-yellow.svg);
    background-repeat: no-repeat;
}

.main-footer___compare-link {
    padding-left: 20px;
    opacity: 0.7;
    color: white;
    position: relative;
}

.main-footer___compare-link::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    height: 12px;
    width: 12px;
    background-image: url(../img/compare-yellow.svg);
    background-repeat: no-repeat;
}

.main-footer___login-link {
    padding-left: 20px;
    opacity: 0.7;
    color: white;
    position: relative;
}

.main-footer___login-link::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    height: 12px;
    width: 12px;
    background-image: url(../img/user-yellow.svg);
    background-repeat: no-repeat;
}

.catalog-filter___checkbox-label {
    position: relative;
    padding-left: 40px;
    display: inline-block;
}

.catalog-filter___checkbox-label:focus::before,
.catalog-filter___checkbox-label:hover::before {
    opacity: 0.6;
}

.catalog-filter___checkbox-label:active::before {
    opacity: 0.6;
}

.catalog-filter___checkbox:disabled ~ .catalog-filter___checkbox-label,
.catalog-filter___checkbox:disabled ~ .catalog-filter___checkbox-label::before {
    opacity: 0.25;
}

.catalog-filter___checkbox-label::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 27px;
    height: 23px;
    background-repeat: no-repeat;
    background-image: url(../img/checkbox-off.svg);
}

.catalog-filter___checkbox:checked ~ .catalog-filter___checkbox-label::before {
    background-image: url(../img/checkbox-on.svg);
}

.brands___list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.brands___link1,
.brands___link2,
.brands___link3,
.brands___link4 {
    position: relative;
    z-index: 1;
    height: 100px;
    width: 260px;
    display: block;
}

.brands___link1::before {
    content: "";
    background-image: url(../img/logo-1-grey.png);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 260px;
    height: 100px;
}

.brands___link2::before {
    content: "";
    background-image: url(../img/logo-2-grey.png);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 260px;
    height: 100px;
}

.brands___link3::before {
    content: "";
    background-image: url(../img/logo-3-grey.png);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 260px;
    height: 100px;
}

.brands___link4::before {
    content: "";
    background-image: url(../img/logo-4-grey.png);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 260px;
    height: 100px;
}

.brands___link1:hover::before,
.brands___link2:hover::before,
.brands___link3:hover::before,
.brands___link4:hover::before {
    background: none;
}

.brands___image {
    z-index: -1;
}

.brands___item {
    height: 100px;
    width: 260px;
    display: block;
}

.brands {
    margin-top: 40px;
    margin-bottom: 40px;
}

.services___list {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 285px;
    min-height: 180px;
    position: relative;
    padding-top: 80px;
    padding-bottom: 45px;
    flex-shrink: 0;
}

.services___list::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 7px;
    background-color: black;
    height: 100%;
}

.services {
    background: linear-gradient(white 100px, #e5e5e5 0px);
    padding-bottom: 70px;
}

.services___list-services___slides-container {
    display: flex;
}

.slides-container {
}

.services___header {
    font-family: Gilroy;
    font-size: 47.5px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 0.5px;
    color: black;
    margin-top: 40px;
    margin-bottom: 30px;
}

.services___slide-shipment {
    padding-right: 310px;
    padding-left: 115px;
    padding-top: 35px;
    position: relative;
}

.services___slide-shipment::before {
    content: "";
    position: absolute;
    right: 35px;
    width: 200px;
    height: 260px;
    background-image: url(../img/delivery.svg);
    background-position: 50%;
    background-repeat: no-repeat;
}

.services____input-radio {
    font-family: "Gilroy";
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    line-height: 23.5px;
    letter-spacing: 3.6px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    background: none;
    border: 0;
    padding: 10px 10px 7px 10px;
    display: inline-block;
    margin-bottom: 25px;
    position: relative;
    text-align: center;
    z-index: 1;
    min-width: 140px;
}

.services____input-radio::before {
    content: "";
    position: absolute;
    top: 50%;
    background-color: yellow;
    height: 8px;
    width: 100%;
    left: 0;
    z-index: -1;
    transform: translateY(-50%);
    transition-duration: .5s;

    /*    transition-property: height, top;*/
}

.services____input-radio:focus::before,
.services____input-radio:hover::before {
    height: 100%;
    background-color: red;
    transition-duration: .5s;

    /*    transition-property: height, top;*/
}

.services____input-radio:active {
    color: rgba(0, 0, 0, 0.3);
}

.categories___list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.categories___item {
    width: 160px;
}

.categories___link {
    display: block;
    width: 160px;
    position: relative;
}

.categories___link:focus::before,
.categories___link:hover::before {
    background-color: #f0c52e;
}

.categories___link:active .categories___image,
.categories___link:active .categories___text {
    opacity: 0.3;
}

.categories___link::before {
    content: "";
    display: block;
    width: 160px;
    height: 160px;
    background-color: #f7e296;
}

.categories___image {
    z-index: 10;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.categories___text {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 18px;
    font-weight: 800;
    color: #000000;
    margin-top: 35px;
    line-height: 1.33;
}

.slider___image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 560px;
}

.slide1 {
    position: relative;
}

.slider___header {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 47px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: 0.5px;
    color: #000000;
    position: relative;
    margin-top: 85px;
    margin-bottom: 0px;
}

.slider___header::before {
    content: "";
    position: absolute;
    top: -40px;
    left: 0;
    width: 100px;
    height: 7px;
    background-color: #ffffff;
}

.slider___text-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 480px;
    margin-left: auto;
    padding-right: 80px;
}

.slider___slide1 {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.slider___slide1::before {
    content: "01";
    position: absolute;
    top: -5px;
    right: 50px;
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 179px;
    font-weight: 800;
    line-height: 1;
    color: #ffffff;
}

.slider___table-header {
    font-size: 13px;
    line-height: 20px;
}

.slider___table {
    width: 100%;
    margin-top: 55px;
    border-collapse: collapse;
}

.slider___table-data {
    font-family: "Gilroy", "Arial", sans-serif;
    font-size: 36px;
    font-weight: 200;
    color: #000000;
    padding: 0;
    margin: 0;
}

.slider___controls {
    position: absolute;
    top: 315px;
    right: 80px;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80px;
    height: 40px;
}

.slider___radio-checked {
    box-shadow: inset 0 0 0 1px #000000, inset 0 0 0 4px #ffffff, inset 0 0 0 5px #000000;
    width: 12px;
    height: 12px;
    display: inline-block;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.slider___radio {
    box-shadow: inset 0 0 0 1px #000000;
    width: 12px;
    height: 12px;
    display: inline-block;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.main-header___compare-item {
    margin-right: 40px;
}

.main-header___delivery-item {
    margin-right: 35px;
}

/*
nav, section, figure, div, header {
    background-color: rgba(28,230,139,0.05);
    box-shadow: inset 0px 0px 8px 0px rgba(28,230,139,0.5);
    
}
*/
.slider___image {
    display: block;
}

.slider___figure {
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.slider___paragraph {
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 30px;
}

.categories___image2 {
    /*грязный хак одной картинки*/
    margin-top: 22px;
}

.categories {
    margin-bottom: 65px;
}

.services___button-selected {
    font-family: "Gilroy";
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    line-height: 23.5px;
    letter-spacing: 3.6px;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    background: none;
    border: 0;
    padding: 10px 130px 7px 10px;
    display: inline-block;
    margin-bottom: 25px;
    position: relative;
    text-align: center;
    z-index: 1;
    min-width: 140px;
    background-color: black;
    color: #f7e184;
}

.modal-map___iframe {
    border: none;
    width: 100%;
    height: 569px;
    z-index: 3;
    margin: 0;
    padding: 0;
    margin-bottom: -10px;
}

.modal-map___paragraph {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    margin: 0;
    padding: 0;
}

.modal-map {
    display: none;
}

.catalog-filter___form {
    margin-left: auto;
    max-width: 200px;
    margin-top: 70px;
    padding-right: 68px;
    padding-left: 80px;
}

.catalog-items {
    width: calc(50% + 252px);
}

.catalog-page-container {
    display: flex;
    justify-content: center;
    min-width: 1160px;
}

.catalog-items___container {
    display: flex;
}

.catalog-items___list {
    list-style: none;
    display: flex;
    max-width: 752px;
    flex-wrap: wrap;
}

.catalog-items___item {
    width: 360px;
}

.catalog-items___header {
    font-family: "Gilroy";
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.18px;
    color: #000000;
}

.catalog-header___breadcrumbs-link {
    color: #000;
    opacity: 0.3;
}

.catalog-header___breadcrumbs-link:hover,
.catalog-header___breadcrumbs-link:focus {
    opacity: 0.6;
}

.catalog-header___breadcrumbs-link:active {
    opacity: 0.1;
}

.catalog-filter___radio-label {
    position: relative;
    padding-left: 40px;
    display: inline-block;
}

.catalog-filter___radio:checked ~ .catalog-filter___radio-label::before {
    background-image: url(../img/radio-on.svg);
    opacity: 1;
}

.catalog-filter___radio-label::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    width: 27px;
    height: 27px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url(../img/radio-off.svg);
}

.catalog-filter___radio-label:focus::before,
.catalog-filter___radio-label:hover::before {
    opacity: 0.6;
}

.catalog-filter___radio-label:active::before {
    opacity: 0.6;
}

.catalog-filter___radio:disabled ~ .catalog-filter___radio-label,
.catalog-filter___radio:disabled ~ .catalog-filter___radio-label::before {
    opacity: 0.25;
}